/*! == BODY == */

.background-image {
    overflow: hidden;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
        filter: saturate(0);
        transition: filter 1s ease;
        &:hover {
            filter: saturate(1);
        }
    }
}

.hero {
    grid-column: 1/-1;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 75vh;
    svg {
        z-index: 50;
        display: block;
        width: 8rem;
        margin: 0 auto;
        path {
            fill: white;
        }
    }
    .heading {
        position: relative;
        z-index: 50;
        text-align: center;
        &__5 {
            margin-bottom: 15rem;
        }
    }
    &.no-hero {
        align-content: flex-end;
        height: 12rem;
        margin-bottom: 3rem;
    }
    &.home-hero {
        position: relative;
        height: calc(100vh - 1rem);
        .image {
            @include backgroundCover;
            position: absolute;
            z-index: -5;
            overflow: hidden;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: saturate(0);
            &.front-image {
                z-index: 100;
            }
            &:hover {
                filter: saturate(1);
            }
        }
        .content {
            position: fixed;
            z-index: -1;
            opacity: 1;
            top: -60vh;
            left: 0;
            width: 100%;
            text-align: center;
            transition: top 3s cubic-bezier(0, 0, 0, 1), opacity 0.5s ease;
            &.fade-out {
                opacity: 0;
            }
            svg {
                width: 60%;
                height: auto;
            }
            svg.logo-mark {
                width: 10rem;
                opacity: 0;
                transition: opacity 1s 3s ease;
            }
            path {
                fill:$color_grey_mid;
            }
        }
    }
    &.light-text {
        svg path {
            fill: white;
        }
        .heading {
            color: white;
        }
    }
}
.loaded .home-hero .content {
    top: 15vh;
    svg.logo-mark {
        opacity: 1;
    }
}

.introduction {
    grid-column: 2 / 3;
    width: 60%;
    margin: 0 auto;
    .heading {
        margin: 3rem 0 2rem;
    }
    p {
        font-size: $font_size * 1.1px;
        line-height: $font_line-height * 1.3px;
    }
}

.read-more-wrapper {
    display: none;
    margin-top: 2rem;
}

.expanding-section {
    margin-bottom: 2rem;
    &__head {
        position: relative;
        height: 20rem;
        .content {
            position: relative;
            z-index: 10;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            align-items: center;
            justify-content: center;
            height: 100%;
            text-align: center;
            &.light-text {
                > .heading {
                    color: white;
                }
            }
            .heading {
                grid-row: 2 / 3;
            }
            .button {
                grid-row: 3 / 4;
                width: 20rem;
                display: block;
                margin: 0 auto;
                color: white;
            }
        }
        &:hover {
            .background-image img {
                filter: saturate(1);
            }
        }
    }
    &__body {
        position: relative;
        max-height: 0;
        overflow: hidden;
        background: $color_grey_mid;
        color: white;
        transition: max-height 0.5s ease;
        .content {
            width: 60%;
            margin: 0 auto;
            padding: 3rem;
        }
        .heading,
        .button,
        p {
            color: white;
        }
        .heading {
            text-align: center;
            margin-bottom: 2rem;
        }
    }
    &__close {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: calc(2rem + 2px);
        height: calc(2rem + 2px);
        border: 1px solid $color_grey_light;
        transition: border-color 0.5s ease;
        cursor: pointer;
        &:before,
        &:after {
            @include psuedoElement;
            @include trans-bg;
            top: 50%;
            left: -25%;
            width: calc(100% + 1rem);
            height: 1px;
            transform: rotate(45deg);
            background: $color_grey_light;
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:hover {
            border-color: white;
            &:before,
            &:after {
                background: white;
            }
        }
    }
    &.open {
        .expanding-section__body {
            max-height: 100vh;
        }
    }
}

.small-leaders {
    grid-column: 1 / 4;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    &__count-2 {
        margin: 0 10%;
        grid-template-columns: 1fr 1fr;
    }
    &__item {
        position: relative;
        height: 14rem;
        &:hover {
            cursor: pointer;
            .background-image img {
                filter: saturate(1);
            }
        }
        .content {
            position: relative;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 1rem;
            text-align: center;
            p {
                text-transform: uppercase;
                font-size: $font_size * 0.8px;
                font-weight: 200;
            }
        }
        &.light-text {
            .heading,
            p {
                color: white;
            }
        }
    }
}
.gallery {
    text-align: center;
    > div {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1rem;
        margin-bottom: 1rem;
    }
    a {
        @include backgroundCover;
        display: block;
        transition: all 0.5s ease;
        height: 15rem;
        filter: saturate(0);
        &.inline {
            height: auto;
        }
        &:hover {
            filter: saturate(1);
        }
        &.button {
            height: auto;
            display: inline-block;
            border-color: $color_grey_mid;
            &:after {
                display: none;
            }
        }
    }
    .inline-wrapper {
        grid-column: 1 / 13;
        overflow: hidden;
        transition: all 0.5s ease;
        width: 100%;
        height: auto;
        &:hover {}
    }
    img {
        width: calc(100% + 1rem);
        margin: -0.5rem;
    }
    &__fullwidth a {
        grid-column: span 12;
    }
    &__halves a {
        grid-column: span 6;
    }
    &__onethird-twothird {
        a {
            grid-column: span 4;
            &:nth-of-type(2) {
                grid-column: span 8;
            }
        }
        &.wide {
            a {
                grid-column: span 8;
                &:nth-of-type(2) {
                    grid-column: span 4;
                }
            }
        }
    }
    &__three-images {
        grid-template-rows: 1fr 1fr;
        a {
            height: auto;
            &:nth-of-type(1) {
                grid-column: span 6;
                grid-row: span 2;
                height: auto;
            }
            &:nth-of-type(2) {
                grid-column: span 6;
                grid-row: span 1;
            }
            &:nth-of-type(3) {
                grid-column: span 6;
                grid-row: span 1;
            }
        }
        &.right a {
            &:nth-of-type(1) {
                grid-column: 7 / 13;
                grid-row: span 2;
                height: auto;
            }
            &:nth-of-type(2) {
                grid-column: span 6;
                grid-row: 1 / 2;
            }
            &:nth-of-type(3) {
                grid-column: span 6;
                grid-row: span 1;
            }
        }
    }
}
.news-leaders,
.itinerary-leaders {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    .heading {
        grid-column: 1/-1;
        margin-bottom: 2rem;
    }
    &__item {
        position: relative;
        margin-bottom: 3rem;
        text-align: center;
        .image {
            position: relative;
            height: 13rem;
            margin-bottom: 1rem;
        }
        .entry-date,
        .heading {
            margin-bottom: 1rem;
        }
    }
    .button {
        grid-column: 2 / 3;
        height: auto;
        display: inline-block;
        border-color: #484848;
    }
}
.itinerary-leaders {
    .itinerary-nights,
    .itinerary-location {
        font-size: $font_size * 0.8px;
        line-height: 1rem;
        text-transform: uppercase;
    }
    .itinerary-location {
        margin-top: 0;
        margin-bottom: 1rem;
        font-weight: 400;
    }
}
.tabbed-section {
    &__head {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        &--tab {
            position: relative;
            padding: 1.5rem 1rem;
            text-align: center;
            background: #e2e2e2;
            cursor: pointer;
            &:before {
                @include psuedoElement;
                bottom: -1rem;
                left: 0;
                width: 100%;
                height: 1rem;
                background: $color-grey-lighter;
                opacity: 0;
            }
            &.active {
                background: $color-grey-lighter;
                &:before {
                    opacity: 1;
                }
            }
        }
    }
    &__body {
        position: relative;
        overflow: hidden;
        display: grid;
        margin-top: 1rem;
        &--item {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            display: none;
            grid-template-columns: 20% 60% 20%;
            grid-template-rows: min-content;
            width: calc(100% - 10rem);
            padding: 2rem 5rem;
            background: $color-grey-lighter;
            &.visible {
                display: grid;
            }
            .head {
                grid-column: 2 / 3;
                margin-bottom: 3rem;
                text-align: center;
            }
            .icon-list {
                grid-column: 1/-1;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 3rem;
                &__item {
                    text-align: center;
                    img {
                        width: 3rem;
                    }
                    .heading {
                        margin-bottom: 1rem;
                    }
                    p {
                        text-align: left;
                    }
                }
            }
            .team-list {
                grid-column: 1/-1;
                &__item {
                    display: grid;
                    grid-template-columns: 30% 70%;
                    grid-column-gap: 3rem;
                    margin-bottom: 3rem;
                    .image {
                        grid-column: 1 / 2;
                        position: relative;
                        img {
                            max-width: 100%;
                            filter: saturate(0);
                            transition: filter 0.5s ease;
                            &:hover {
                                filter: saturate(1);
                            }
                        }
                    }
                    .detail {
                        grid-column: 2 / 3;
                        p {
                            margin-top: 1rem;
                        }
                    }
                }
            }
            .toggle-list {
                grid-column: 1/-1;
                &__item {
                    position: relative;
                    width: 50%;
                    margin: 0 auto 3rem;
                    text-align: left;
                    &:after {
                        @include psuedoElement;
                        top: 2rem;
                        left: 1.5rem;
                        margin-left: 2px;
                        width: 2px;
                        height: 100%;
                        background: repeating-linear-gradient(0deg, $color-grey-lighter 0px, $color-grey-lighter 10px, $color_grey_mid 10px, $color_grey_mid 32px);
                    }
                    &:last-of-type:after {
                        display: none;
                    }
                    &.active {
                        .head p {
                            background: $color_grey_mid;
                            color: white;
                        }
                    }
                    .head,
                    .body {
                        grid-template-columns: 5rem auto;
                        text-align: left;
                    }
                    .heading {
                        text-align: left;
                    }
                    .head {
                        display: grid;
                        margin-bottom: 0.5rem;
                        cursor: pointer;
                        p {
                            display: grid;
                            align-content: center;
                            justify-content: center;
                            border: 2px solid $color_grey_dark;
                            border-radius: 50%;
                            width: 3rem;
                            height: 3rem;
                            margin-top: -1.25rem;
                            background: white;
                        }
                    }
                    .body {
                        display: none;
                        margin-left: 5rem;
                        p {
                            grid-column: 2 / 3;
                        }
                    }
                }
            }
        }
    }
}
.image-cta {
    grid-column: 1/-1;
    position: relative;
    display: grid;
    align-items: flex-end;
    justify-content: center;
    height: 20rem;
    a {
        position: relative;
        z-index: 10;
        margin-bottom: 2rem;
    }
}
.news-header {
    &__prev,
    &__next {
        display: grid;
        align-items: center;
        justify-content: center;
        a {
            display: inline-block;
            border-top: 1px solid $color_grey_dark;
            border-left: 1px solid $color_grey_dark;
            width: 1rem;
            height: 1rem;
            transform: rotate(-45deg);
            &:before {
                @include psuedoElement;
                width: 1px;
                height: 0;
                background: $color_grey_dark;
                transform: rotate(-45deg);
                left: 0;
                top: 1px;
                transform-origin: 0 0;
                transition: all 0.5s ease;
            }
            &:hover:before {
                height: 3rem;
            }
        }
    }
    &__next {
        a {
            transform: rotate(135deg);
        }
    }
    &__detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .entry-author,
        .entry-date {
            margin-top: 0;
            padding: 2rem 1rem 0;
            font-size: $font_size * 0.8px;
        }
        .entry-author {
            position: relative;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            text-align: right;
            font-weight: 400;
            &:after {
                @include psuedoElement;
                bottom: 0;
                right: 0;
                width: 1px;
                height: 100%;
                background: $color_grey_mid;
            }
        }
        .entry-date {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        .heading {
            grid-column: 1 / 3;
            border-bottom: 1px solid $color_grey_lighter;
            margin-bottom: 1rem;
            padding: 1rem;
            text-align: center;
        }
    }
}
.itinerary-wrapper {
    &__item {
        margin-bottom: 2rem;
        .head {
            padding: 1rem 0;
            background: $color_grey_dark;
            cursor: pointer;
            .heading {
                display: grid;
                align-items: center;
                grid-template-columns: 20% 60% 20%;
                color: white;
                span:first-of-type {
                    padding: 0 2rem;
                    font-family: $font_secondary;
                    font-weight: 300;
                }
            }
        }

        .body {
            display: none;
            .itinerary-carousel {
                position: relative;
                .owl-item {
                    height: 25rem;
                }
            }
            .carousel-wrapper {
                position: relative;
                &:hover {
                    img {
                        filter: saturate(1);
                    }
                }
                .owl-prev,
                .owl-next {
                    position: absolute;
                    top: 50%;
                    margin-top: -1rem;
                    left: 1rem;
                    z-index: 10;
                    display: inline-block;
                    border-top: 2px solid white;
                    border-left: 2px solid white;
                    width: 1rem;
                    height: 1rem;
                    transform: rotate(-45deg);
                }
                .owl-next {
                    left: unset;
                    right: 1rem;
                    transform: rotate(135deg);
                }
            }
            .content {
                display: grid;
                grid-template-columns: 20% 60% 20%;
                padding: 2rem 0;
                background: $color_grey_dark;
                p,
                .button {
                    grid-column: 2 / 3;
                }
                p {
                    color: white;
                }
                .button {
                    background: white;
                    text-align: left;
                    transition: all 0.3s ease;
                    &:hover {
                        background: $color-grey-mid;
                    }
                }
            }
        }
    }
}
.map-block {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
    &__map {
        position: relative;
        height: 500px;
        svg {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            #countries g {
                position: relative;
            }
            g path,
            g path {
                fill: none;
                stroke: $color_grey_dark;
            }
            g.active {
                path {
                    fill: $color_grey_lighter;
                }
                path.active {
                    fill: $color_grey_dark;
                }
            }
        }
    }
    &__country {
        position: relative;
        &--item {
            position: relative;
            z-index: 200;
            text-align: center;
            padding-bottom: 1rem;
            background: white;
            display: none;
            .background-image {
                position: relative;
                height: 15rem;
                .heading {
                    position: absolute;
                    bottom: 2rem;
                    z-index: 10;
                    width: 100%;
                    color: white;
                }
            }
            .heading {
                margin: 1rem 0;
            }
            p {
                margin: 0 1rem;
            }
            &.active {
                display: block;
            }
        }
    }
}

#map-marker {
    @include psuedoElement;
    z-index: 150;
    width: 0.5rem;
    height: 0.5rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    border-radius: 50%;
    border: 1px solid white;
    opacity: 0;

    &__line {
        @include psuedoElement;
        z-index: 9999;
        top: 0.25rem;
        left: 0.5rem;
        height: 1px;
        background: white;
        transition: transform 0.5s ease;
        transform-origin: right;
        transform: scaleX(0);
    }
    &.active {
        transition: opacity 0.5s ease;
        opacity: 1;
        #map-marker__line {
            transform: scaleX(1);
        }
    }
}

.map-block__menu {
    font-family: $font_primary;
    text-transform: uppercase;
    &--item {
        position: relative;
        border: 1px solid $color-grey-dark;
        margin-bottom: 1rem;
        padding: 1rem;
        cursor: pointer;
        &:after {
            @include psuedoElement;
            z-index: -1;
            right: 2rem;
            top: 1.25rem;
            width: 1rem;
            height: 1rem;
            transform: rotate(45deg);
            border-style: solid;
            border-color: $color-grey-dark;
            border-width: 1px 1px 0 0;
            transition: transform 0.5s ease;
        }
        &.active {
            &:after {
                transform: rotate(135deg);
            }
        }
        .child-menu {
            display: none;
            border-top: 1px solid $color-grey-dark;
            margin-top: 1rem;
            padding-top: 1rem;
        }
        .child {
            margin-bottom: 0.5rem;
            font-family: $font_secondary;
            a {
                font-weight: 200;
            }
        }
    }
}

.destination {
    display: grid;
    grid-template-columns: 2.5fr 5fr 2.5fr;
    grid-column-gap: 4rem;
    .body {
        .heading {
            margin-bottom: 2rem;
        }
        p {
            text-align: justify;
        }
    }
    .cta {
        padding-top: 7rem;
        &__item {
            position: sticky;
            top: 3rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 1rem;
            padding: 1rem;
            text-align: center;
            background: $color-grey-dark;
            color: white;
            i {
                font-size: $font_size * 2px;
                &:first-of-type {
                    border-right: 1px solid white;
                }
            }
            p {
                grid-column: 1 / 3;
                font-size: $font_size * 0.8px;
                line-height: 1.2rem;
                text-transform: uppercase;
                color: white;
            }
        }
    }
}
.location-panel {
    .map-block {
        display: block;
        &__map {
            height: auto;
            margin: 3rem 0;
            .current-country {
                fill: $color-grey-dark;
            }
        }
    }
    p {
        span {
            display: block;
            font-weight: 400;
            font-size: $font_size * 0.8px;
            line-height: 1rem;
            text-transform: uppercase;
        }
        &:last-of-type {
            margin-bottom: 3rem;
        }
    }
}
.contact {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    &__details {
        .address {
            margin: 2rem 0;
        }
        .socials {
            i {
                margin-right: 1rem;
            }
        }
    }
    &__form {
        form {
            margin: 3rem 0;
            font-family: $font_secondary;
        }
        .item {
            position: relative;
            margin-bottom: 1rem;
            transition: margin 0.5s ease;
            input,
            textarea,
            input[type="submit"] {
                position: relative;
                z-index: 10;
                width: calc(100% - 2rem);
                padding: 0.5rem 1rem;
                border: 1px solid $color_grey_light;
                font-family: $font_secondary;
                font-size: $font_size * 1px;
                background: transparent;
            }
            input[type="checkbox"] {
                position: absolute;
                width: 2rem;
                z-index: 99999;
            }
            input[type="submit"] {
                border: none;
                padding: 1rem;
                width: 100%;
                text-align: left;
                text-transform: uppercase;
                font-weight: 200;
                background: $color_grey_dark;
                color: white;
            }
            span.label {
                position: absolute;
                z-index: 5;
                top: 0.5rem;
                left: 1rem;
                transition: top 0.5s ease;
            }
            &.active {
                margin-top: 2rem;
                .label {
                    top: -1.5rem;
                }
            }
        }
        .consent {
            margin-bottom: 1rem;
        }
    }
}
.mapboxgl-map {
    height: 50vh;
    .marker {
        background: #fff82a;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid white;
        box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.5);
        cursor: pointer;
    }
    .mapboxgl-popup {
        max-width: 200px;
    }
    .mapboxgl-popup-content {
        text-align: center;
        font-family: $font_secondary;
        border-radius: 0;
        padding: 0;
        box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.2);
        h3 {
            font-family: $font_primary;
            margin: 0;
            padding: 0.25rem;
            text-transform: uppercase;
            background: $color-grey-dark;
            color: white;
        }
        p {
            margin: 0;
            padding: 0.25rem;
            color: $color-grey-dark;
        }
        .mapboxgl-popup-close-button {
            color: white;
        }
    }
}
.partners-carousel {
    &__item {
        text-align: center;
        img {
            max-height: 5rem;
            margin: 0 2rem;
        }
    }
}

.sub-menu {
    position: sticky;
    top:45px;
    z-index: 500;
    padding-top: 1rem;
    text-align: center;
    background:$color_grey_lightest;
    &__item {
        display: inline-block;
        border: 1px solid #d4d4d4;
        padding: .25rem .5rem;
        margin-bottom: .5rem;
    }
}
